<html>
    <head>
        <title>Django Teste blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Teste Blog</a></h1>
        </div>

        <div>
            <p>published: 04.05.2018, 15:49</p>
            <h2><a href="">My first post</a></h2>
            <p>Primeiro teste</p>
        </div>

        <div>
            <p>published: 04.05.2018, 15:49</p>
            <h2><a href="">My second post</a></h2>
            <p>Segundo teste</p>
        </div>
    </body>
</html>